<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello EJS file</title>
</head>
<body>
 <p class = "greetings" id = "people">Welcome to EJS file</p>
</body>
</html>